@media screen and (min-width:768px) {
    body {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
        background-image: url("../images/bg_image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        user-select: none;
    }

    #container {
        display: flex;
        text-align: center;
    }

    #text {
        font-size: 5vh;
        padding: 0;
        margin: auto 1vw auto 0;
        width: 30vw;
        background-color: antiquewhite;
        border: solid 1px #000;
        border-radius: 3vw;
    }

    #turn {
        font-size: 10vh;
    }

    #myCanvas {
        background-color: rgb(194, 184, 166);
        margin: auto;
        flex: 1;
        cursor: pointer;
    }

    #turn_img {
        height: 30vh;
        width: auto;
        margin: auto 5vw auto 5vw;
        padding: 2vh;
        background-color: antiquewhite;
        border: solid 1px #000;
        border-radius: 3vw;
    }
}

@media screen and (max-width:767px){
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("../images/bg_image.jpg");
        background-size: cover;
        user-select: none;
        text-align: center;
    }

    #myCanvas {
        background-color: rgb(194, 184, 166);
        margin: auto;
        flex: 1;
        cursor: pointer;
    }

    #turn {
        font-size: 5vh;
        margin-bottom: 5vh;
    }

    #text {
        font-size: 7.5vw;
        padding: 0;
        margin: 3vh 5vw 5vh 4vw;
        width: 90vw;
        background-color: antiquewhite;
        border: solid 1px #000;
        border-radius: 3vw;
        text-align: center;
    }
    
    #turn_img {
        text-align: center;
        height: 20vh;
        width: auto;
        margin: 5vh 5vw auto 5vw;
        padding: 2vh;
        background-color: antiquewhite;
        border: solid 1px #000;
        border-radius: 3vw;
    }
}